body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    cursor: pointer;
}
h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dot{
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    left: 230px;
    bottom: 70px;
}
.box{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(222, 8, 122),red);
}
.box2{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border :10px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    border :10px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

button{
    height: 40px;
    width: 70px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
button:hover{
    background-color: rgb(156, 151, 142);
    border: none;
    border: radius 5px;
}